
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.ul{
    justify-content: center;
}
.cta
{
  text-align: center;
}

.footer{
    background-color:rgb(36, 21, 100) ;
    justify-content: center;
}
.certificate-image {
    width: 120%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all .5s ease;
    align-items: center
}

.certificate-images:hover {
    position: absolute;
    z-index: 1;
    transform: scale(2.5)
}

body {
    background-color: rgb(50, 20, 201);
  }
  
  header {
    background-color: rgba(12, 12, 116, 0.658);
}
  
  .navbar-brand {
    padding-left: 0;
  }
  
  .navbar-nav {
    margin-right: 0;
  }
  
  .hero-section {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    text-align: center;
  }
  
  .hero-title {
    color: white;
    font-size: 4rem;
    font-weight: bold;
  }
  
  .hero-subtitle {
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
  }
  
  .btn-primary {
    background-color: rgb(0, 17, 255);
    border-color: rgb(38, 0, 255);
  }
  
  /* Responsive styles using media queries */
  @media (max-width: 768px) {
    /* For screens smaller than or equal to 768px */
    .hero-title {
      font-size: 2.5rem;
    }
  
    .hero-subtitle {
      font-size: 1.2rem;
    }
  
    .project-card {
      margin-bottom: 2rem;
    }
  
    .certificate-card {
      margin-bottom: 2rem;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    /* For screens between 769px and 1024px */
    .hero-title {
      font-size: 3rem;
    }
  
    .hero-subtitle {
      font-size: 1.4rem;
    }
  }
